[submodule "bundle/vundle"]
	path = bundle/vundle
    url = https://github.com/gmarik/vundle.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
